/*
 * sircus-tools-gutter
 ================================================== */
.t-gutter {
  padding-left: $g-gutter;
  padding-right: $g-gutter;
}

.t-gutterReset {
  margin-left: (0 - $g-gutter);
  margin-right: (0 - $g-gutter);
}

.t-gutter2x {
  padding-left: ($g-gutter2x);
  padding-right: ($g-gutter2x);
}

.t-gutter2xReset {
  margin-left: (0 - $g-gutter2x);
  margin-right: (0 - $g-gutter2x);
}
