/*
 * sircus-tools-gutter
 ================================================== */

.t-gutter {
  padding-left: $g-gutter !important;
  padding-right: $g-gutter !important;
}


.t-gutterReset {
  margin-left: (0 - $g-gutter) !important;
  margin-right: (0 - $g-gutter) !important;
}


.t-gutter2x {
  padding-left: ($g-gutter2x) !important;
  padding-right: ($g-gutter2x) !important;
}


.t-gutter2xReset {
  padding-left: (0 - $g-gutter2x) !important;
  padding-right: (0 - $g-gutter2x) !important;
}
